Repository growingio/gio-design, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Danny548326, @LEEHONCN, @itiiss, @tongchuliu, @huskylengcb, @iahu, @berber1016, @jack0pan, @gh2049, @phyzess, @zzt1224

docs(tooltip): add stories and document for tooltip component (#792)
  src/components/tooltip/Tooltip.mdx
  src/components/tooltip/Tooltip.stories.tsx
Owners: none

style(breadcrumb): change the modifier size
  src/components/breadcrumb/style/index.less
Owners: @tongchuliu

docs(banner): add stories for banner component
  src/components/banner/Banner.mdx
  src/components/banner/Banner.stories.tsx
Owners: @itiiss

docs(avatar, skeleton, tabnav, tabs): add some components storybook doc
  src/assets/images/Avatar.png
  src/components/avatar/Avatar.mdx
  src/components/avatar/Avatar.stories.tsx
  src/components/avatar/Avatar.tsx
  src/components/avatar/style/demo.less
  src/components/avatar/style/index.less
  src/components/skeleton/Skeleton.mdx
  src/components/skeleton/Skeleton.stories.tsx
  src/components/skeleton/Skeleton.tsx
  src/components/skeleton/__test__/Skeleton.test.js
  src/components/skeleton/__test__/__snapshots__/Skeleton.test.js.snap
  src/components/tab-nav/TabNav.mdx
  src/components/tab-nav/TabNav.stories.tsx
  src/components/tab-nav/interface.ts
  src/components/tab-nav/style/index.less
  src/components/tabs/Tabs.mdx
  src/components/tabs/Tabs.stories.tsx
  src/components/tooltip/style/index.less
Owners: @LEEHONCN

ci: add condition for sonar scan job
  .github/workflows/ci.yml
Owners: none

docs(dropdown, pagination, popconfirm, popover): add some storybook
  src/components/dropdown/Dropdown.mdx
  src/components/dropdown/Dropdown.stories.tsx
  src/components/pagination/Pagination.mdx
  src/components/pagination/Pagination.stories.tsx
  src/components/popconfirm/Popconfirm.mdx
  src/components/popconfirm/Popconfirm.stories.tsx
  src/components/popconfirm/style/demo.less
  src/components/popover/Popover.mdx
  src/components/popover/Popover.stories.tsx
  src/components/popover/style/demo.less
Owners: @itiiss, @LEEHONCN

docs(avatar, skeleton, tabnav, tabs): add some components storybook doc (#795)
  src/assets/images/Avatar.png
  src/components/avatar/Avatar.mdx
  src/components/avatar/Avatar.stories.tsx
  src/components/avatar/Avatar.tsx
  src/components/avatar/style/demo.less
  src/components/avatar/style/index.less
  src/components/skeleton/Skeleton.mdx
  src/components/skeleton/Skeleton.stories.tsx
  src/components/skeleton/Skeleton.tsx
  src/components/skeleton/__test__/Skeleton.test.js
  src/components/skeleton/__test__/__snapshots__/Skeleton.test.js.snap
  src/components/tab-nav/TabNav.mdx
  src/components/tab-nav/TabNav.stories.tsx
  src/components/tab-nav/interface.ts
  src/components/tab-nav/style/index.less
  src/components/tabs/Tabs.mdx
  src/components/tabs/Tabs.stories.tsx
  src/components/tooltip/style/index.less
Owners: @LEEHONCN

.github/CODEOWNERS:

# @gio-design/components
/src/components/alert @Danny548326
/src/components/avatar @LEEHONCN
/src/components/banner @itiiss
/src/components/breadcrumb @tongchuliu
/src/components/button @huskylengcb
/src/components/cascader @iahu
/src/components/checkbox @berber1016
/src/components/config-provider
/src/components/date-picker @itiiss
/src/components/drawer @Danny548326
/src/components/dropdown @itiiss
/src/components/form @iahu
/src/components/grid @iahu
/src/components/input @jack0pan
/src/components/link @tongchuliu
/src/components/list @gh2049
/src/components/loading
/src/components/menu @Danny548326
/src/components/modal @phyzess
/src/components/pagination @LEEHONCN
/src/components/popconfirm
/src/components/popover
/src/components/progress @zzt1224
/src/components/radio @phyzess
/src/components/search-bar @jack0pan
/src/components/select @zzt1224
/src/components/sign
/src/components/skeleton
/src/components/tab-nav
/src/components/table @LEEHONCN
/src/components/tabs
/src/components/tag @zzt1224
/src/components/time-picker @gh2049
/src/components/toast @jack0pan
/src/components/toggles @Danny548326
/src/components/tooltip
/src/components/tree-select @huskylengcb
/src/components/tree @huskylengcb
/src/components/upload @phyzess
